* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: block;
    background: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 49%;
    color: #007bff;
    padding: 120px 0;
    font-weight: 300;
    text-align: center;
}

section {
    padding: 120px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-header {
    font-size: 4.2em;
    vertical-align: 10%;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.section-header  {
    font-size: 1.9em;
    text-transform: uppercase;
}

.linesmall {
    width: 5vh;
    height: 2px;
    margin: auto;
    border-color: #007bff;
    background-color: #007bff;
}

header p {
    margin-top: 5px;
    line-height: 1.4;
    font-size: 1.3em;
    color: #333;
}

#interpunct {
    font-size: inherit;
    position: relative;    
}

#interpunct::before {
    display: inline-block;
    content: '·';
    font-weight: bold;
    color: #007bff;
    left: -4px;
    position: absolute;
}

#interpunct::after {
    display: inline-block;
    content: '·';
    font-weight: bold;
    color: #007bff;
    right: 1px;
    position: absolute;
}

.btn {
    border: 2px groove #007bff;
    padding: 15px 20px;
    display: inline-block;
    margin: auto;
    font-size: 0.9em;
    color: #333;
    cursor: pointer;
    text-transform: uppercase;
}

.more:hover {
    color: #fff;
    background-color: #007bff;
}

nav {
    background-color: #007bff;
}

.menu {
    margin: auto;
    list-style-type: none;
    justify-content: center;
    display: flex;
    background-color: #007bff;
    font-size: 15px;
    width: 100%;
    color: #f2f1ed;
    padding: 15px 0 15px 0;
}

#drop-nav {
    display: none;
}

label[for="drop-nav"] {
    display: none;
}

.menu-item {
    padding: 10px;
}

.menu-item:hover {
    color: #007bff;
    background-color: #fff;
}

/* about-section styles */

.about {
    max-width: 700px;
    margin: auto;    
}

.myphoto {
    border-radius: 50%;
    font-weight: 300;
}

/* Portfolio-section styles */

.portfolio {
    background-color: #f2f1ed;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-container .gall-element {
    cursor: pointer;
    flex-basis: 25%;
    max-height: 200px;
    position: relative;
}

.portfolio-container .gall-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-container .gall-element h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 123, 255, 0.75);
    margin: 0;
    text-align: center;
    line-height: 200px;
    color: #fff;
    font-weight: 300;
    font-size: 3em;
    opacity: 0;
    transition: all .3s;
}

.portfolio-container .gall-element h3:hover {
    opacity: 1;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact form {
    display: flex;
    max-width: 700px;
    flex-wrap: wrap;
    margin: 40px auto 30px auto;
    justify-content: space-between;
}

.contact input[id="name"],
.contact input[id="email"] {
    flex-basis: 49%;
    height: 5vh;
    margin-bottom: 10px;
}

.contact input[id="name"] {
    margin-right: 2%;
}

.contact input[id="message"] {
    flex-basis: 100%;
    height: 7vh;
    padding: 0;
    margin-bottom: 10px;
}

.contact input[type=submit]{
    margin-top: 6px;
    border-width: 2px;
    border-color: #007bff;
    background-color: inherit;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    color: #333;
    cursor: pointer;
    transition: all 0.5s;
}

input[type=submit]:hover {
    color: #fff;
    background-color: #007bff;
}

.contact input[type=submit]:hover {
    color: #fff;
    background-color: #007bff;
}


.social-media {
    max-width: 20%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.social-fb,
.social-tt,
.social-ig,
.social-yt {
    flex-basis: 15%;
    color: #007bff;
}

footer {
    font-size: 0.9em;
    text-align: center;
    background-color: #f2f1ed;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #777;

}

@media screen and (max-width: 1200px) {
	.portfolio-container {
		max-width: 992px;
	}

    header,
    section {
       padding: 60px 0; 
    }
}

@media screen and (max-width: 992px) {
	.portfolio-container {
		max-width: 768px;
	}
    .gall-element {
        flex-basis: 50%;
    }
    header,
    section {
       padding: 60px 0; 
    }
}

@media screen and (max-width: 768px) {
	.portfolio-container {
		max-width: 95%;
	}
    .gall-element {
        flex-basis: 100%;
    }
    header,
    section {
       padding: 40px 0; 
    }
}

@media (max-width: 480px) {
    header .main-header {
        font-size: 3em;
    }

    .myphoto {
        max-height: 200px;
        max-width: 200px;
    }

    .contact input[type="text"],
    .contact input[type="email"] {
        flex-basis: 100%;
        margin-right: 0;
    }

    label[for="drop-nav"] {
        display: block;
        padding: 14px 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5em;
        text-align: right;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    #drop-nav:checked + .menu {
        display: block;
    }

    .main-menu .menu .menu-item {
        display: block;
        text-align: right;
        margin: 0;
    }
}